<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="jumbotron-contents">
        <h1>Add This Week's Sales!</h1>
        <p>
        	<%= render 'form' %>
        </p>
      </div>
    </div>
  </div>
</div>
