<div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to "Overview", root_path %></li>
                <li><%= link_to "Add Weekly Sales", new_graph_path %>
                <!-- <li class="disabled"><a href="#">Link</a></li> -->

              </ul>
              <div class="collapse navbar-collapse navbar-right" role="">
              <ul class="nav navbar-nav">

              <% if user_signed_in? %>
              <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="inactive"><%= link_to "Settings", edit_user_registration_path %></li>
                            <li class="inactive"><li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </li>                             
                   <% end %>                     
                  </ul>
                </li>
              </ul>                      
            </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>